<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">

    <link
rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
crossorigin="anonymous" 
referrerpolicy="no-referrer" 
/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Concert+One&family=Lilita+One&family=Outfit:wght@100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Lilita+One&family=Outfit:wght@100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Bowlby+One+SC&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Latihan Quiz</title>
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='assets/LogoTeks.png') }}" alt="Logo" style="width: 200px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Beranda</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                                Lainnya
                            </a>
                            <ul class="dropdown-menu text-white">
                                <li><a class="dropdown-item" href="{{ url_for('sosmed') }}">Media Sosial</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('resource') }}">Resource</a></li>
                                <li><hr class="dropdown-divider"></li>

                                <li><a class="dropdown-item" href="{{ url_for('faq') }}">FAQ</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">Tentang kami</a>
                        </li>
                    </ul>
                    </div>
                </div>   
            </div>
        </nav>
    </header>

    <audio id="correct-sound" src="{{ url_for('static', filename='assets/correct-sound.mp3') }}"></audio>
    <audio id="wrong-sound" src="{{ url_for('static', filename='assets/wrong-sound.mp3') }}"></audio>


    <!-- Main Content -->
    <main>
        <div class="container fade-in">
            <h1>Quiz Bahasa Isyarat</h1>
            <p>Belajar dan Uji Kemampuan Bahasa Isyarat Anda</p>
            <div class="quiz-icon"><img src="{{ url_for('static', filename='assets/quiz-icon.svg') }}" alt="" srcset=""></div>
            <a href="#" class="btn btn-light btn-lg" id="startGame1">Story Telling</a>
            <a href="#" class="btn btn-light btn-lg" id="startGame2">Quiz Benar/Salah</a>
        </div>

        <!-- Game 1 Container -->
        <div class="container my-5 fade-in" id="game1-container">
            <div class="card">
                <div class="card-header">
                    <h3>Story Telling</h3>
                </div>
                <div class="card-body text-center">
                    <p>Fitur ini sedang dalam pengembangan. Harap kembali lagi nanti.</p>
                </div>
            </div>
        </div>
        
        <!-- Popup Overlay -->
        <div id="popup-overlay" class="popup-overlay">
            <div class="popup-content">
                <span class="close-btn" onclick="closePopup()">&times;</span>
                <h3>Fitur ini sedang dalam pengembangan</h3>
                <p>Harap kembali lagi nanti.</p>
            </div>
        </div>

        <!-- Game 2 Container -->
        <div class="container my-5" id="game2-container">
            <div class="card">
                <div class="card-header">
                    <h3>Pertanyaan</h3>
                    <img src="{{ url_for('static', filename='assets/quiz-icons.svg') }}" alt="" srcset="">
                </div>
                <div class="card-body">
                    <div id="game2-question-content" class="text-center">
                        <!-- Soal akan dimuat di sini -->
                    </div>
                    <div id="game2-options" class="text-center mt-3">
                        <!-- Opsi jawaban akan dimuat di sini -->
                    </div>
                    <div id="game2-feedback" class="mt-3"></div>
                </div>
                <div class="card-footer text-muted">
                    <div id="game2-reward-points" style="color: white;">Poin: 0</div>
                    <div id="game2-timer-bar" class="progress mt-3">
                        <div id="game2-timer" class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reward Section -->
        <div class="container-quiz my-5 fade-in-on-scroll" id="reward-section" style="display: none;">
            <div class="row justify-content-center">
                <div class="col-md-6 fade-in-on-scroll mx-auto">
                    <div class="card text-white fade-in-on-scroll">
                        <div class="card-body fade-in-on-scroll">
                            <div class="video-container fade-in-on-scroll">
                                <video id="video" width="100%" height="auto" autoplay></video>
                                <div class="bounding-box"></div>
                            </div>
                        </div>
                        <p>Screenshot dan mention kami di Instagram</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <!-- <button id="downloadBtn">Unduh Sertifikat</button>   -->
          
    </main>
    <footer class="footer" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4 logo-container">
                    <img src="{{ url_for('static', filename='assets/LogoTeks.png') }}" alt="Logo" class="footer-logo">
                    <!-- Copyright -->
                    <p class="text-center">© 2024 Edukasi Website. All rights reserved.</p>
                </div>
                <div class="col-md-4">
                    <!-- Menu Sosial Media -->
                    <ul class="social-media">
                        <li><a href="https://youtube.com"><i class="fab fa-youtube"></i> Youtube</a></li>
                        <li><a href="https://linkedin.com"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
                        <li><a href="https://instagram.com"><i class="fab fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <!-- Menu Lainnya -->
                    <ul class="other-menu">
                        <li><a href="{{ url_for('faq') }}"><i class="fa-solid fa-question"></i>FAQ</a></li>
                        <li><a href="{{ url_for('sosmed') }}"><i class="fa-regular fa-file-lines"></i>Sosial media</a></li>
                        <li><a href="{{ url_for('about') }}"><i class="fa-solid fa-people-group"></i>Tentang Kami</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer> 
    <script>
    </script>


    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/AR-js-org/AR.js/aframe/build/aframe-ar-nft.js"></script>
    <!-- Include Three.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Include ARUCO marker detection library -->
    <script src="https://rawcdn.githack.com/jcmellado/js-aruco/1.3.0/build/aruco.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="script.js"></script>
    <script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
